

* {
    box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height:normal;
  color: #263300;
}

.wrapper {
  width: 920px; 
  text-align:center;
  
}

ul {
    padding: 0;
    list-style: none;
    text-align: inherit;
    margin: 0

}


ul li {
    
}

ul li:
}

ul li:

ul li.checked {
    
span.addBtn {
  
  margin-bottom:-1px;
  }

.close {
    
}

.close:hover {
   
}

.header {
    
}


}

input {
  border: #803300 solid 2px;
  padding: 7px;
  margin-top: -2px;
  line-height: normal;
 
}

#in:focus {
  background: #ffe; /* Цвет фона */
  border: 2px solid #ff8533; 
  /* delete fcking blue line */
  outline: none;
}

input: hover {
color: #ff8080;
}

.addBtn {
    margin-left: 20px;
    border: 2px solid #263300;
    padding: 6px;
    background: #d9d9d9;
    margin-bottom: -10px;

}

.addBtn:hover {
    background: #bfff80;
}
